{% extends 'layout.template.html' %}

{%block title%}
Book a room
{%endblock%}

{%block content %}
<h1>Book Room</h1>
        <form method="POST">
            <div class="form-group">
                <label>First Name</label>
                <input class="form-control" type="text" name="first-name"/>
            </div>
            <div class="form-group">
                <label>Last Name</label>
                <input class="form-control" type="text" name="last-name"/>
            </div>
            <div class="form-group">
                <label>Comments</label>
                <textarea class="form-control" name="comments"></textarea>
            </div>
            <div class="form-group">
                <label>Room Type</label>
                <div class="form-check">
                    <input type="radio" value="single-bed" name="room" class="form-check-input"/><label class="form-check-label">Single Bed</label><br/>
                    <input type="radio" value="double-bed" name="room" class="form-check-input"/><label class="form-check-label">Double Bed</label><br/>
                    <input type="radio" value="deluxe" name="room" class="form-check-input"/><label class="form-check-label">Deluxe</label><br/>
                </div>
            </div>
            <div class="form-group">
                <label>Amentities</label>
                <div class="form-check">
                    <input type="checkbox" value="cable-tv" name="amenities" class="form-check-input"/><label class="form-check-label">Cable TV</label><br/>
                    <input type="checkbox" value="extra-mattress" name="amenities" class="form-check-input"/><label class="form-check-label">Extra Mattress</label><br/>
                    <input type="checkbox" value="free-wi-fi" name="amenities" class="form-check-input"/><label class="form-check-label">Free Wifi</label><br/>
                </div>
            </div>
            <div class="form-group">
                <label>Check In Timing</label>
                <select name="check-in-timing" class="form-control">
                    <option value="morning">Morning</option>
                    <option value="afternoon">Afternoon</option>
                    <option value="midnight">Midnight</option>
                </select>
            </div>
            <input type="submit" value="Book Now" class="btn btn-primary"/>
        </form>
{%endblock%}